<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850238618227-c5ej4bt3st6ektra6cgibpgqrb9ttr4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850238618227-c5ej4bt3st6ektra6cgibpgqrb9ttr4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAt1J9_Ny3nj_J4G5XTdTQjsBRLYEL6lUk</string>
	<key>GCM_SENDER_ID</key>
	<string>850238618227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emoroidDigestApp</string>
	<key>PROJECT_ID</key>
	<string>the-emoroid-digest-app-882e5</string>
	<key>STORAGE_BUCKET</key>
	<string>the-emoroid-digest-app-882e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850238618227:ios:38845257d61791c3350806</string>
</dict>
</plist>